@import '../../../assets/stylus/utils.styl';

[data-component="header"]
    position relative
    text-align center
    height 100%
    img 
        max-width 400px
        position relative
        margin-top 15%
