@import '../../../assets/stylus/utils.styl';

[data-component="header"]
    position relative
    text-align center
    padding 90px 0
    img 
        max-width 300px
        position relative
        
