@import '../../../assets/stylus/utils.styl';

[data-component="header"]
    position relative
    text-align center
    padding 45px 0
    img 
        max-width 200px
        position relative
        
