@import '../../../assets/stylus/utils.styl';

[data-component="footer"]
    position relative
    text-align center
    width 100%
    background-color $background
    padding 20px 0
    color $white
    text-align left
  
