/* You can add global styles to this file, and also import other style files */

@import './assets/stylus/bootstrap.styl';
@import './assets/stylus/fonts.styl';
@import './assets/stylus/utils.styl';
@import './assets/stylus/headings.styl';
@import './assets/stylus/icons.styl';