@font-face
	font-family 'StarJedi'
	src url('assets/fonts/starjedi/STARWARS.woff') format('woff'),
        url('assets/fonts/starjedi/STARWARS.ttf') format('truetype')
@font-face
	font-family 'LineAwesome'
	src url('assets/fonts/line-awesome/line-awesome.ttf') format('truetype')