$media_queries = {
	mobile  : 'only screen and (max-width: 480px)',
	middle-mobile  : 'only screen and (max-width: 580px)',
	large-mobile: 'only screen and (max-width: 767px)',
	tablet  : 'only screen and (max-width: 992px)',
	middle  : 'only screen and (max-width: 1110px)',
	m-desktop  : 'only screen and (max-width: 1200px)',
	desktop : 'only screen and (min-width: 993px)'
}

breakpoint( $breakpoints )
	$conditions = ()
	for $breakpoint in $breakpoints
		push( $conditions, $media_queries[$breakpoint] )
	$conditions = join( ', ', $conditions )
	@media $conditions
		{block}

@keyframes autofill
	to
		background transparent

@keyframes autofill-light
	to
		color #fff
		background transparent

/********* Color ***********/
$black = #000000;
$primary-color = #49ded8;
$yellow = #fcdf2b;
$background = #db2e63;
$white = #ffffff;
/********* Font ***********/
$star-jedi = 'StarJedi';

$lineawesome = 'LineAwesome';

$primary-font = 'Poppins'

//Raleway
$museo = 'museo';
$raleway-regular = 'Raleway-Regular';
$raleway-italic = 'Raleway-italic';
$raleway-medium = 'Raleway-Medium';
$raleway-semi-bold = 'Raleway-SemiBold';
$raleway-bold = 'Raleway-Bold';
$raleway-extra-bold = 'Raleway-ExtraBold';

//Roboto

$roboto-regular = 'Roboto-Regular';
$roboto-medium = 'Roboto-Medium';
$roboto-bold = 'Roboto-Bold';

//Arial
$arial = 'Arial';
$arial-bold = 'Arial-Bold';

//Icons
$anticon = 'Anticon';
$flaticon = 'Flaticon';

$ionicons = 'Ionicons';
$material = 'Material';
$simple-line-icons = 'Simple-Line-Icons';
