$media_queries = {
	mobile  : 'only screen and (max-width: 480px)',
	middle-mobile  : 'only screen and (max-width: 580px)',
	large-mobile: 'only screen and (max-width: 767px)',
	tablet  : 'only screen and (max-width: 992px)',
	middle  : 'only screen and (max-width: 1110px)',
	m-desktop  : 'only screen and (max-width: 1200px)',
	desktop : 'only screen and (min-width: 993px)'
}

breakpoint( $breakpoints )
	$conditions = ()
	for $breakpoint in $breakpoints
		push( $conditions, $media_queries[$breakpoint] )
	$conditions = join( ', ', $conditions )
	@media $conditions
		{block}

@keyframes autofill
	to
		background transparent

@keyframes autofill-light
	to
		color #fff
		background transparent

/********* Color ***********/
$black = #000000;
$primary-color = #49ded8;
$background = #db2e63;

$primary-color-shadow = #bbb7ec;
$primary-color-hover = #5951bb;
$primary-color-active = #4e45b5;
$primary-color-back = #f0eff5;

$text = #575962;
$text-2 = #9699a2;
$title = #3f4047;
$title-sub = #5b5c6e;
$background = #2c2d3a;
$background-navbar = #fefdfe;
$second-color = #716aca;
$color-1 = #BCACF1;
$sombra = #2f303e;
$background-sub-header = #262734;
$link = #6c6e86;
$border = #ebedf2;
$back-preloader = #f2f3f8;
$color-icon = #b8bece;
$back-gray = #f5f5f7;

$color-6 = #ffb822;
$color-2 = #36a3f7;
$color-3 = #f4516c;
$color-4 = #34bfa3;
$color-5 = #e9ecef;

// status
$important = #ffb822;
$sold = #c4c5d6;
$pending  =#f4516c;
$urgent = #36a3f7;
$resolved = #34bfa3;

$table = #f4f3f8;
$table-line = #faf9fc;
$table-hover = #f6f6f7;

$aquamarine = #c82cbc;
$white = #ffffff;
$suva-grey = #8E8E8E;
$whisper = #E6E6E6;
$tory-blue = #c82cbc;
$white-smoke = #F8F8F8;
$smoke = #F0F0F0;
$dim-gray = #666666;
$very-light-grey = #ababab;
$gainsboro = #DCDCDC;
$nobel = #9B9B9B;
$lightning-yellow = #F5A623;
$dark-gray = #AAAAAA;
$persian-red = #DC2828;
$very-light-pink = #fef8f8;
$pastel-red = #e56464;
$nero = #141414;
$gradient = linear-gradient(92deg, #c82cbc, #3d4e81);
$overlay = rgba(0, 0, 0, 0.4)
$box-shadow = rgba(0, 0, 0, 0.1);
$orange = #fefaf4;
$dark-grass-green = #417505;

/********* Font ***********/

$primary-font = 'Poppins'

//Raleway
$museo = 'museo';
$raleway-regular = 'Raleway-Regular';
$raleway-italic = 'Raleway-italic';
$raleway-medium = 'Raleway-Medium';
$raleway-semi-bold = 'Raleway-SemiBold';
$raleway-bold = 'Raleway-Bold';
$raleway-extra-bold = 'Raleway-ExtraBold';

//Roboto
$roboto-regular = 'Roboto-Regular';
$roboto-medium = 'Roboto-Medium';
$roboto-bold = 'Roboto-Bold';

//Arial
$arial = 'Arial';
$arial-bold = 'Arial-Bold';

//Icons
$anticon = 'Anticon';
$flaticon = 'Flaticon';
$lineawesome = 'LineAwesome';
$ionicons = 'Ionicons';
$material = 'Material';
$simple-line-icons = 'Simple-Line-Icons';
