$media_queries = {
	mobile  : 'only screen and (max-width: 480px)',
	middle-mobile  : 'only screen and (max-width: 580px)',
	large-mobile: 'only screen and (max-width: 767px)',
	tablet  : 'only screen and (max-width: 992px)',
	middle  : 'only screen and (max-width: 1110px)',
	m-desktop  : 'only screen and (max-width: 1200px)',
	desktop : 'only screen and (min-width: 993px)'
}

// Funcao de troca das midias
breakpoint( $breakpoints )
	$conditions = ()
	for $breakpoint in $breakpoints
		push( $conditions, $media_queries[$breakpoint] )
	$conditions = join( ', ', $conditions )
	@media $conditions
		{block}

@keyframes autofill
	to
		background transparent

@keyframes autofill-light
	to
		color #fff
		background transparent

/********* Variaveis de cor ***********/
$black = #000000;
$primary-color = #49ded8;
$yellow = #fcdf2b;
$background = #db2e63;
$white = #ffffff;
$overlay = rgba(0, 0, 0, 0.9);
$focus = #a51843;

/********* Variaveis de fontes ***********/
$star-jedi = 'StarJedi';

$lineawesome = 'LineAwesome';
