<div data-component="movie-block-detail">

  <span class="title">{{movie.title}}</span>
  <div class="border">
    <div id="height">
      <p class="description">
          {{movie.opening_crawl}}
      </p>
  
      <ul>
        <li class="director icon la-video-camera">
          <span class="text">
            Director
          </span>  
          <span class="dsc">{{movie.director}}</span>
        </li>
        <li class="producer icon la-video-camera">
          <span class="text">
            Producer
          </span>  
          <span class="dsc">{{movie.producer}}</span>
        </li>
        <li class="release-date icon la-video-camera">
          <span class="text">
            Data
          </span> 
          <span class="dsc">{{movie.release_date | date }}</span>
        </li>
      </ul>
      <div class="content-dsc">
        <div class="row">
          <div class="col-md-4">
            <span class="title">Character(s)</span>
            <div *ngFor="let cht of movie.characters">
              <h5>{{cht.name}}</h5>
            </div>
          </div>
          <div class="col-md-4">
            <span class="title">Specie(s)</span>
            <div *ngFor="let spe of movie.species">
              <h5>{{spe.name}}</h5>
            </div>
          </div>
          <div class="col-md-4">
            <span class="title">Vehicle(s)</span>
            <div *ngFor="let veh of movie.vehicles">
              <h5>{{veh.name}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-button">
  
    <button class="btn" (click)="backBlockMovies()">Voltar</button>
  </div>
  
</div>