<div data-component="auth" class="main">
  <app-header></app-header>
  <main>
    <div class="title">
      <h2>Movies</h2>
    </div>
    <div class="container">
      <div class="row" *ngIf="blockMovies">
        <div class="col-md-6" *ngFor="let movie of movies">
          <app-movie-block (changeStep)="validateMovies($event)" [movie]="movie"></app-movie-block>
        </div>
      </div>

      <div class="row" *ngIf="blockMovieDetail">
        <div class="col-md-12">
          <app-movie-block-detail (changeStep)="animationBlockMovieDetail($event)" [movie]="movieDetail"></app-movie-block-detail>
        </div>
      </div>
    </div>
  </main>
  <app-footer></app-footer>
</div>