@import '../../assets/stylus/utils.styl';

[data-component="auth"]
    background-image url('../../assets/images/header.jpg')
    height auto
    position absolute
    width 100%
    main
        background-color $overlay
        padding-bottom 200px
        .title
            width 100%
            text-align center
            padding 20px 0
            background-color $background
            h2
                font-size 27px
                font-weight 100
        .container
            padding 20px 0        
            