<div data-component="movie-block">
  <span class="title">{{film.title}}</span>
  <div class="border">   
    <p class="description">
        {{film.opening_crawl}}
    </p>

    <ul>
      <li class="director icon la-video-camera">
        <span class="text">
          Director
        </span>  
        <span class="dsc">{{film.director}}</span>
      </li>
      <li class="producer icon la-video-camera">
        <span class="text">
          Producer
        </span>  
        <span class="dsc">{{film.producer}}</span>
      </li>
      <li class="release-date icon la-video-camera">
        <span class="text">
          Data
        </span> 
        <span class="dsc">{{film.release_date | date }}</span>
      </li>
    </ul>

  </div>
  <div class="content-button">
    {{film.episode_id}}
    <button (click)="maisDetalhes(film.episode_id)">Mais detalhes</button>
  </div>
  
</div>